@media (max-width: 320px) {
  .header-about-share {
    margin-left: -0.5px;
    margin-right: -0.5px;
  }
}
@media (max-width: 767px) {
  .align-self-cnt {
    justify-content: center;
  }
  .header-nav-list {
    margin-bottom: 118px;
    justify-content: center;
  }

  .header-about-find {
    max-width: 240px;
  }
  .stn-partner-list-item:not(:last-child) {
    padding-bottom: 30px;
  }
  .block-li {
    width: 236px;
  }
}
@media (min-width: 768px) {
  .wrapper-header {
    height: 700px;
    padding-top: 38px;
  }
  .wrapper-main {
    padding-bottom: 40px;
  }
  .header-nav {
    padding-bottom: 150px;
  }
  .header-nav-list {
    justify-content: flex-end;
  }
  .header-about-share {
    margin-bottom: 40px;
    font-size: 52px;
    line-height: 62px;
  }

  .header-about-find {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 34px;
  }
  .stn-partner-title {
    padding-bottom: 34px;
  }
  .stn-partner-list {
    padding-bottom: 38px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .stn-partner-list {
    width: 522px;
  }
  .stn-partner-list-item:not(:nth-last-child(-n + 2)) {
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .stn-partner-list {
    width: 1000px;
  }
}
