html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.wrapper {
  /*целесообразно ли?*/
  max-width: 1200px;
  margin: 0 auto;
}

/* -- H E A D E R -- */
.header-page {
  padding: 19px 0 120px;
}
.header-nav {
  min-height: 36px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.header-nav-list {
  width: 490px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
h1,
.header-nav-list a {
  font-family: "Montserrat", sans-serif;
  color: #95e1d3;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}
.header-nav-list a {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.header-nav-list a:hover,
.header-nav-list a:focus {
  color: #f38181;
  transition: color 0.2s linear;
}
.header-nav-list a:hover::after,
.header-nav-list a:focus::after {
  position: absolute;
  display: block;
  margin-bottom: 10px;
  height: 3px;
  width: 100%;
  background-color: #f38181;
  content: "";
}

/* -- M A I N -- */
.section-title {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  margin-bottom: 20px;
}
.section-desc {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
}
.section-desc::after {
  content: "";
  height: 3px;
  width: 60px;
  display: block;
  background-color: #f38181;
  margin: 38px auto 0;
}
/* We work section */
.services-list {
  padding-top: 64px;
  display: flex;
  flex-wrap: wrap;
}
.services-list-item {
  width: 381px;
}
