.footer {
  @extend %df-jb;
}
.footer__info {
  @include myfont-style($font-montserrat, 14px, 1.2, 400, #333);
}
.footer__info span {
  color: $color-purpur;
}
.footer {
  border-top: $border-grey;
  min-height: 62px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.form-subcsribe {
  height: 40px;
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-subcsribe__email {
  padding-left: 14px;
  border: $border-grey;
  width: 230px;
  /* просто через запятую не хочет*/
  &::-moz-placeholder {
    @include myfont-style($font-roboto, 15px, 1.6, 400, rgb(204, 204, 204));
    font-style: italic;
  }
  &::-webkit-input-placeholder {
    @include myfont-style($font-roboto, 15px, 1.6, 400, rgb(204, 204, 204));
    font-style: italic;
  }
  &:-ms-input-placeholder {
    @include myfont-style($font-roboto, 15px, 1.6, 400, rgb(204, 204, 204));
    font-style: italic;
  }
  &::-ms-input-placeholder {
    @include myfont-style($font-roboto, 15px, 1.6, 400, rgb(204, 204, 204));
    font-style: italic;
  }
  &::placeholder {
    @include myfont-style($font-roboto, 15px, 1.6, 400, rgb(204, 204, 204));
    font-style: italic;
  }
}

.form-subcsribe__button {
  @include myfont-style($font-montserrat, 14px, 1.2, bold, #fff, uppercase);
  border: none;
  width: 150px;
  background-color: $color-aquamarine;
  cursor: pointer;
}
