* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.wrapper {
  width: 1110px;
  margin: 0 auto;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.page-nav {
  padding: 38px 0 100px 0;
}
h1 {
  float: left;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 30px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  color: #555252;
}
h1::first-letter {
  color: #1abc9c;
}

.page-menu {
  padding-top: 7px;
  float: right;
}
.page-menu li {
  float: left;
  list-style: none;
}
.page-menu li:not(:last-child) {
  margin-right: 35px;
}

.page-menu a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}
.page-menu a:hover,
.page-menu a:focus {
  color: #1abc9c;
}

.featured-products {
  margin-bottom: 104px;
}

.featured-products-title {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: #515151;
  font-weight: 400;
  text-align: center;
}
.featured-products-title::after {
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 32px auto 92px;
  content: "";
}
.featured-products-list li:not(:nth-child(4n)) {
  margin-right: 30px;
}
.featured-products-list li:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.img-crop {
  position: relative;
  overflow: hidden;
  width: 255px;
  height: 282px;
}
.featured-products-list li {
  float: left;
  width: 255px;
  height: 322px;
  background-color: #e9f0fd;
  list-style: none;
}

.product-title {
  float: left;
  width: 201px;
  height: 40px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background-color: #323232;
  padding: 4px 0 0 4px;
}
.product-price {
  float: right;
  width: 54px;
  height: 40px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: #fff;
  background-color: #8c8c8c;
  padding: 4px 0 0 4px;
  text-align: center;
}
.featured-products-list p::before {
  content: "\0024";
}

.featured-products-list li:hover .product-title {
  background-color: #7fd9c7;
}
.featured-products-list li:hover .product-price {
  background-color: #1abc9c;
}
